<ion-header>
  <ion-toolbar>
    <ion-title> tab1.html {{ tvalue }}  </ion-title>
    <ion-button (click) ="presentToast()" slot="end" fill="clear">NEXT</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item class="input-item"> L-4: 
<ion-input type="text" placeholder="Buy/Sell" > </ion-input>  
<ion-input type="text" placeholder="qty" > </ion-input>  
<ion-input type="text" placeholder="exp" > </ion-input>  
<ion-input type="text" placeholder="strike" > </ion-input>  
<ion-input type="text" placeholder="Call/Put" clearInput autocapitalize="off" inputmode="email"></ion-input>
</ion-item>

<ion-item class="input-item"> Position: 
<ion-input type="text" placeholder="SYM" > </ion-input>  
<ion-input type="text" placeholder="Cost" > </ion-input>  
<ion-input type="text" placeholder="Size" > </ion-input>  
</ion-item>

<div> // {{quotes}} // </div>

<ion-list> 
  <ion-card  *ngFor="let qq of quotes">
<h6 slot="center"> {{ qq.utilkey }}   </h6>
<div slot="end"> ~  {{qq._id }}  </div>
</ion-card> 
</ion-list>

</ion-content>
