<ion-header>
  <ion-toolbar>
    <ion-title> tab1.html {{ tvalue }}  </ion-title>
    <ion-button (click) ="presentToast()" slot="end" fill="clear">NEXT</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item class="input-item"> Event: 
<ion-input type="text" placeholder="Buy/Sell" > </ion-input>  
<ion-input type="text" placeholder="qty" > </ion-input>  
<ion-input type="text" placeholder="exp" > </ion-input>  
<ion-input type="text" placeholder="strike" > </ion-input>  
<ion-input type="text" placeholder="Call/Put" clearInput autocapitalize="off" inputmode="email"></ion-input>
</ion-item>

<ion-item class="input-item"> Position: 
<ion-input type="text" placeholder="SYM" > </ion-input>  
<ion-input type="text" placeholder="Cost" > </ion-input>  
<ion-input type="text" placeholder="Size" > </ion-input>  

<ion-chip>Default</ion-chip>
<ion-chip disabled="true">Disabled</ion-chip>
<ion-chip outline="true">Outline</ion-chip>

</ion-item>

<ion-list>
  <ion-item color="light">
      <ion-label>First Accordion</ion-label>
    </ion-item>
  <ion-item>
    <ion-badge slot="start">11</ion-badge>
    <ion-label>Badge in start slot</ion-label>
  </ion-item>
  <ion-item>
    <ion-badge slot="end">22</ion-badge>
    <ion-label>Badge in end slot</ion-label>
  </ion-item>
</ion-list>

<ion-list> 
  <ion-card  *ngFor="let qq of quotes">
<h6 slot="center"> {{ qq.fields.Score }}   </h6>
<div slot="end"> ~  {{qq.fields.Hole }}  </div>
</ion-card> 
</ion-list>



<pre>{{quotes | json}}


</pre>

</ion-content>
